#dialog_title{
    margin: auto;
    width: 200px;
    color: green;
    border-bottom: 2px solid red;
    border-bottom-style: dashed;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #border_outline{
    border: 3px solid green;
  }

  #border_form{
    border: 2px solid green;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-radius: 30px;
  }

  #button_close, #button_send{
    font-size: 20px;
    background-color: rgba(236, 243, 192, 1);
    border: black 2px solid;
    border-radius: 15px;
    font-weight: 600;
  }

  #buttonDivLeft{
    width: 50%;
    float: left;
    margin-top: 20px;
  }

  #buttonDivRight{
    margin-left: 50%;
    margin-top: 20px;
  }

  #button_close{
    position: absolute;
    left: 100px;
    bottom: 16px;
  }
  #button_send{
    position: absolute;
    right: 100px;
    bottom: 16px;
  }

  #icon_close{
    color: darkred;
    margin-top: 2px;
  }
  #icon_send{
    margin-top: 2px;
  }