
.project_child.bottom{
margin-bottom: 70px;
}

.title_div{
  text-align: center;
}

.project_title{
  color: blue;
  margin-left: 40px;
}

.title{
border: 2px solid red;
display:inline;
padding-left: 10px;
padding-right: 10px;
border-bottom-style: dashed;
color: black;
}

.text_project{
font-weight: 700;
}

.project_box {
 padding: 10px;
}

.project_child {
  width: calc(100% - 44px);
  padding: 20px;
  background-color: rgba(236, 243, 192, 1);
  border: 2px solid black;
  margin-bottom: 10px;
}

#templateGrid_info3{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

#kuva1{
 width: 100%;
}

#kuva2{
 width: 100%;
}

@media only screen and (max-width: 850px){  
  #templateGrid_info3{
    grid-template-columns: 1fr;
  }
}


