#tavoitteet, #videoesittely, #tekninen_toteutus, #toiminnallisuudet{
    background-color: rgba(236, 243, 192, 1);
    border: 2px solid black;
    margin-bottom: 10px;
}

#toiminnallisuudet{
  margin-bottom: 70px;
}

#title_tavoitteet, #title_video, #title_toteutus, #title_toiminnallisuudet{
  text-align: center;
  border: 2px solid red;
  border-bottom-style: dashed;
  color: black;
}

#title_tavoitteet{
 margin-left: 17vw;
 margin-right: 17vw;
}

#title_video{
  margin-left: 18vw;
  margin-right: 18vw;
}

#title_toteutus{
    margin-left: 42vw;
    margin-right: 42vw;
}

#title_toiminnallisuudet{
    margin-left: 38vw;
    margin-right: 38vw;
}

.text_project{
 font-weight: 700;
}

.float_project {
    padding-top: 10px;
  }
  
  .project_child {
    float: left;
    margin-left: 10px;
    padding: 20px;
  }


/*pc*/

@media only screen and (min-width: 1800px){
    .project_child {
      width: 96.5%;
      height: 330px;
    }
  
    #tavoitteet, #videoesittely{
      width: 46.8%;
    }
}


@media only screen and (min-width: 1600px) and (max-width: 1800px){
  .project_child {
    width: 96%;
    height: 330px;
  }

  #tavoitteet, #videoesittely{
    width: 46.3%;
  }
}
  
  @media only screen and (min-width: 1400px) and (max-width: 1600px){
    .project_child {
        width: 95.5%;
        height: 330px;
      }
    
      #tavoitteet, #videoesittely{
        width: 45.8%;
      }
      #title_tavoitteet{
        margin-left: 15vw;
        margin-right: 15vw;
       }
       
       #title_video{
         margin-left: 16vw;
         margin-right: 16vw;
       }
       
       #title_toteutus{
           margin-left: 40vw;
           margin-right: 40vw;
       }
       
       #title_toiminnallisuudet{
           margin-left: 36vw;
           margin-right: 36vw;
       }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1400px){
    .project_child {
        width: 94.8%;
        height: 330px;
      }
    
      #tavoitteet, #videoesittely{
        width: 45.1%;
      }
      #title_tavoitteet{
        margin-left: 12vw;
        margin-right: 12vw;
       }
       
       #title_video{
         margin-left: 16vw;
         margin-right: 16vw;
       }
       
       #title_toteutus{
           margin-left: 36vw;
           margin-right: 36vw;
       }
       
       #title_toiminnallisuudet{
           margin-left: 36vw;
           margin-right: 36vw;
       }
  }
  
  @media only screen and (min-width: 1000px) and (max-width: 1200px){
    .project_child {
        width: 93.8%;
        height: 330px;
      }
    
      #tavoitteet, #videoesittely{
        width: 44.2%;
      }
      #title_tavoitteet{
        margin-left: 10vw;
        margin-right: 10vw;
       }
       
       #title_video{
         margin-left: 14vw;
         margin-right: 14vw;
       }
       
       #title_toteutus{
           margin-left: 36vw;
           margin-right: 36vw;
       }
       
       #title_toiminnallisuudet{
           margin-left: 33vw;
           margin-right: 33vw;
       }
  }
  
  
  @media only screen and (min-width: 800px) and (max-width: 1000px){
    .project_child {
        width: 92.5%;
        height: 330px;
      }
    
      #tavoitteet, #videoesittely{
        width: 42.8%;
      }
      #title_tavoitteet{
        margin-left: 7vw;
        margin-right: 7vw;
       }
       
       #title_video{
         margin-left: 11vw;
         margin-right: 11vw;
       }
       
       #title_toteutus{
           margin-left: 30vw;
           margin-right: 30vw;
       }
       
       #title_toiminnallisuudet{
           margin-left: 28vw;
           margin-right: 28vw;
       }
  }

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 800px){
    .project_child {
        width: 90%;
        height: 330px;
      }
    
      #tavoitteet, #videoesittely{
        width: 40.3%;
      }

      #title_tavoitteet, #title_video{
        margin-left: 20px;
        margin-right: 20px;
      }
      #title_tavoitteet{
        margin-left: 3vw;
        margin-right: 3vw;
       }
       
       #title_video{
         margin-left: 7vw;
         margin-right: 7vw;
       }
       
       #title_toteutus{
           margin-left: 25vw;
           margin-right: 25vw;
       }
       
       #title_toiminnallisuudet{
           margin-left: 20vw;
           margin-right: 20vw;
       }
}


/*mobile*/
@media only screen and (max-width: 600px){  
    .project_child {
        width: 87.5%;
        height: 330px;
      }
      #title_tavoitteet{
        margin-left: 20vw;
        margin-right: 20vw;
       }
       
       #title_video{
         margin-left: 25vw;
         margin-right: 25vw;
       }
       
       #title_toteutus{
           margin-left: 20vw;
           margin-right: 20vw;
       }
       
       #title_toiminnallisuudet{
           margin-left: 15vw;
           margin-right: 15vw;
       }
}